# ignore .svn metadata files
.svn
# ignore Maven generated target folders
target
build
bin
operations
.gradle
# ignore eclipse files
.project
.classpath
.settings
.scala_dependencies
.externalToolBuilders
.factorypath
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
.DS_Store
atlassian-ide-plugin.xml
maven-ant-tasks.jar
test-output
classes
/bin
/build
/output
/operations
/reports
/.gradle
/.settings
issue.info
.project
.classpath
velocity.log
velocity.log.1

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*