# ignore .svn metadata files
.svn
# ignore Maven generated target folders
target
build
bin
operations
.gradle
# ignore eclipse files
.project
.classpath
.settings
.scala_dependencies
.externalToolBuilders
.factorypath
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
.DS_Store
atlassian-ide-plugin.xml
maven-ant-tasks.jar
test-output
classes
/bin
/build
/output
/operations
/reports
/.gradle
/.settings
issue.info
.project
.classpath
velocity.log
velocity.log.1